<div style="color:white">
<h1><%= biz.name %></h1>
<div class="container">
  <h3>Name: <%= biz.name %></h3>
  <h4>Rating: <%= biz.rating %></h4>
  <h4>Address: <%= biz.location.address %></h4>
  <h4>City: <%= biz.location.city %></h4>
</div>
</div>

<% if(loggedIn) { %>
<div class="container">
  <div style="margin-bottom:10px;">
  <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#review-modal">Review Happy Hour</button>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="review-modal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Review</h4>
        </div>
        <div class="modal-body" id="happy-hours-list">
          <textarea class="form-control" rows="2" name="description" placeholder="Add a description"></textarea>
          <textarea class="form-control" rows="2" name="times" placeholder="Add a time"></textarea>
          <textarea class="form-control" rows="2" name="specials" placeholder="Add specials"></textarea>
        </div>
        <div class="modal-footer">
          <button id="happy-hour-button" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
<% } else { %>
  <h3>You must be <a href="/login">logged in</a> to write a review.</h3>
<% } %>

<div class="container">
  <div class="happy-hours-list">
    <div id="review-template" class="row review">
      <div class="col-sm-8">
        <div class="panel panel-white post panel-shadow" style="background-color:#c7c7c7">
          <div class="post-heading">
            <h4 class="author"><span id="name"></span>'s Review:</h4>
            <p class="description"><span id='description'></span></p>
            <h4 class="times">Happy Hour Times: <span id="times"></span></h4>
            <h4 class="specials">Recommended Specials: <span id="specials"></span></h4>
            <!-- Delete Button will be appended here -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$('#happy-hour-button').on('click', function(evt) {
  console.log('clickeddddd');
  $.ajax({
   url: '/posts',
   method: 'POST',
   contentType: 'application/json',
   data: JSON.stringify({
     business_name: "<%= biz.name %>",
     business_id: "<%= biz.id %>",
     description: $("textarea[name='description']").val(),
     times: $("textarea[name='times']").val(),
     specials: $("textarea[name='specials']").val(),
     neighborhood: "<%= biz.location.city%>"

   })
  }).done(function(post) {
    console.log(post);
    appendReview(post._author.local.name, post.description, post.times, post.specials, post._id)
    $('#review-modal').modal('hide')
  })

})

function appendReview(name, description, times, specials, id) {
  console.log("inside the appendReview method: post id is " + id)
  console.log("Cloning and prepending...")
  var $newReview = $('#review-template').clone()
  $newReview.attr('id', '')
  $newReview.find('#name').text(name)
  $newReview.find('#description').text(description)
  $newReview.find('#times').text(times)
  $newReview.find('#specials').text(specials)
  var deleteButton = $('<button id="'+id+'" type="button">Delete</button>')
  deleteButton.on('click', function() {
    console.log('delete button clicked');
    buttonId = $(this).attr('id');
    $.ajax({
    method:'DELETE',
    url: '/posts/' + buttonId
    }).done(function(data) {
      console.log(data)
      var delButton = $('#' + buttonId)
      delButton.parent().remove()
    })
  })
  $newReview.append(deleteButton)
  console.log($newReview)
  $('.happy-hours-list').prepend($newReview)
}

<% posts.reverse().forEach((post) => { %>
  console.log("inside the reverse post method: the id of this post is <%= post._id %>");
  appendReview("<%= post._author.local.name %>", "<%= post.description %>", "<%= post.times %>", "<%= post.specials %>", "<%= post._id %>")

<% }) %>

</script>
