<h1><%= biz.name %></h1>
<div class="container" style="color:white">
  <h3>Name: <%= biz.name %></h3>
  <h4>Rating: <%= biz.rating %></h4>
  <h4>Address: <%= biz.location.address %></h4>
  <h4>City: <%= biz.location.city %></h4>
</div>
<div class="container">
  <textarea class="form-control" rows="8" name="body" placeholder="Add a post"></textarea>
<button type="submit" class="btn btn-primary">Submit</button>
</div>
